*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../assets/pergaminhodash.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(0, 0, 0);
height: 100vh;
}
.header{ 
  height: 8%;
} 

.header .logo{
  position: absolute;
  display: flex;
  right: 0;
  margin-right: 2%;
}
.header .botao{
  height: 30px;
  width: 85%;
  margin: 0 7.5%;
  padding: 1% 0;
}
.header .botao button{
  width: 7%;
  height: 30px;
  background-color: #EE7331;
  color: white;
  border-radius: 30px;
}
.header .botao button a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.dashboard{
  width: 100%;  
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.dashboard .fileira1 {
  /* background-color: rgb(0, 0, 0); */
  
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height:42%;
  align-items: center;
}
.dashboard .fileira1 .grafico1{
  width: 80%;
  height: 290px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.54);
  /* border: 1px solid white; */
}
.dashboard .fileira1 .grafico1 img{
  width: 100%;
}

.dashboard .fileira1 .grafico{
  width: 35%;
  height: 320px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.695)

  /* border: 1px solid white; */
}



.dashboard .fileira2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 40%; 
  margin: 0 10%;
  align-items: center;
}
.dashboard .fileira2 .grafico2{
  width: 48%;
  height: 280px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.695);
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .fileira2 .grafico3{
  width: 48%;
  height: 280px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.695);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}
